{#- master snippet for all scheming display fields -#}
{#- render the field the user requested, or use a default field -#}
{%- set display_snippet = field.display_snippet -%}

{%- if not display_snippet -%}
  {%- if field.repeating_subfields -%}
    {%- set display_snippet = 'repeating_subfields.html' -%}
  {%- elif h.content_field_choices(field) -%}
    {%- set display_snippet = 'select.html' -%}
  {%- else -%}
    {%- set display_snippet = 'content_text.html' -%}
  {%- endif -%}
{%- endif -%}

{%- if '/' not in display_snippet -%}
  {%- set display_snippet = h.guess_snippet_display(display_snippet) -%}
{%- endif -%}

{%- if field.field_name in data -%}
  {%- snippet display_snippet,
    field=field,
    data=data,
    errors=errors,
    content_type=content_type,
    object_type=object_type
  -%}
{%- endif -%}
