{% extends "content/page.html" %}

{% import 'macros/form.html' as form %}

{% block title %}
    {{ _("Create Content") }}
{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    <li><a href="{{ h.url_for('ckan_content.create', type=schema.content_type) }}">{{ _("Create") }} {{ schema.label }}</a></li>
{% endblock %}

{%- block content %}
    {% block maintag %}<div class="main content-main">{% endblock %}
        <div id="content" class="content-page container">
            {% block main_content %}
                {% block flash %}{{ super() }}{% endblock %}
                {% block toolbar %}{{ super() }}{% endblock %}

                <div class="content-wrapper">
                    {% block primary %}
                    <div class="module-content">
                            {% snippet 'content/snippets/content_form.html', data=data, schema=schema, errors=errors, create=True %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock -%}

{%- block scripts %}
    {% asset 'content/content-admin-js' %}
    {{ super() }}
{% endblock -%}


{%- block styles %}
    {% asset 'content/content-admin-css' %}
    {{ super() }}
{% endblock %}
