{% extends "content/page.html" %}

{% block title %}
    {{ _("Content List") }}
{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    <li><a href="{{ h.url_for('ckan_content.list') }}">{{ _("Content List") }}</a></li>
{% endblock %}

{%- block content %}
    {% block maintag %}<div class="main content-main">{% endblock %}
    <div id="content" class="content-page container">
        {% block main_content %}
            {% block flash %}{{ super() }}{% endblock %}
            {% block toolbar %}{{ super() }}{% endblock %}

            <div class="content-wrapper">
                {% block primary %}
                    <div class="d-flex justify-content-end p-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#content-creation">
                            {{ _("Create") }}
                        </button>
                        <div class="modal fade" id="content-creation" tabindex="-1" aria-labelledby="content-creation" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title">Create</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        {% for content in h.get_schemas_types() %}
                                            <li class="mb-2">
                                                <a class="text-dark fw-bold fs-4" href="{{ h.url_for('ckan_content.create', type=content.type) }}">
                                                    {{ content.label }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="ckan-content-content position-relative">
                        <div data-module="ckan-content-list" id="ckan-content-list">
                            <div class="ckan-content-loading-indicator text-center p-5">
                                {% snippet "content/loading_indicator.html" %}
                                {{ _("Loading entitites...") }}
                            </div>
                        </div>
                        <div class="ckan-content-search" style="display: none;">
                            <input id="ckan-content-search" type="text" class="form-control" placeholder="Search...">
                            <button type="button" id="ckan-content-clear" class="btn btn-sm btn-light">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
        </div>
    </div>
{% endblock -%}

{%- block scripts %}
    {% asset 'content/content-admin-js' %}
    {{ super() }}
{% endblock -%}


{%- block styles %}
    {% asset 'content/content-admin-css' %}
    {{ super() }}
{% endblock %}
