site_name: ckanext-content
site_url: https://datashades.github.io/ckanext-content/

repo_url:  https://github.com/DataShades/ckanext-content

theme:
  name: material
  features:
    - content.code.copy

plugins:
  - glightbox

nav:
  - Home: index.md
  - Installation: installation.md
  - Config Settings: config_settings.md
  - Usage: usage.md
  - Extra: extra.md


markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
