.ckan-content-search {
    display: flex;
    position: absolute;
    bottom: 12px;
    left: 16px;
    max-width: 15rem;
    width: 100%;

    #ckan-content-search {
        border: 1px solid #aaa;
        box-shadow: unset;
    }

    #ckan-content-clear {
        display: none;
        position: absolute;
        right: 0;
        height: 100%;
        width: 35px;
        height: 33px;
        justify-content: center;
        top: 1px;
        right: 1px;
        border: unset;
        box-shadow: unset;

        &.search-active {
            display: flex;
        }
    }
}

.ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 200px;
    resize: vertical;
    overflow-y: auto;
}
