#content.content-page,
#content.content-search-page {
    .content-wrapper {
        background-color: var(--white-color);
        min-height: 300px;
        position: relative;
        img {
            width: 100%;
        }
    }
}
